.body {
  font-family: Verdana, Geneva, Tahoma, sans-serif, sans-serif;
  background-color: rgb(207, 126, 6);
}

.card {
  border: 5px solid blue;
  padding: 20px;
  color: purple;
  border-radius: 5;
}

#button {
  background-color: red;
  border-radius: 50%;
}

#button:hover {
  color:blueviolet;
}
