.box {
  height:150px;
  width:60px;
  background-color: lightblue;
  padding: 20px;
  border: 5px solid navy;
  margin: 20px;
}

.wubbalubba {
  Height: 150px;
  width:60px;
  background-color:rgb(7,200,45);
  padding: 20px;
  border: 5px dashed orange;
  margin: 20px;
  position:relative;
  left: 140px;
  bottom: 217px;
}
